:root {
  --contact-color: linear-gradient(to right, dodgerblue, black);
  --background-color: linear-gradient(to right, bisque, burlywood);
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: var(--contact-color);
  border-bottom: 4px double crimson;
}

header > h1 {
  font-size: 3rem;
  font-family: "Indie Flower", cursive;
  color: gainsboro;
  margin-top: 12px;
  margin-bottom: 1px;
}

header > h3 {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  font-family: "Rubik Vinyl", cursive;
  color: burlywood;
  margin: 1px;
}

header > p {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: crimson;
}

header > a {
  font-size: 2.5rem;
  font-family: "Indie Flower", cursive;
  text-decoration: none;
  color: gainsboro;
  margin-bottom: 12px;
}

header > a:hover {
  color: crimson;
}

.education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: var(--background-color);
  font-size: 1.3rem;
  font-family: "Poppins", cursive;
  font-weight: 600;
  border-bottom: 4px double crimson;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.column > h2 {
  font-family: "Poppins", cursive;
  display: flex;
  justify-content: center;
}

.about-me a {
  text-decoration: none;
  color: black;
  margin-bottom: 12px;
}

.about-me a:hover {
  color: crimson;
}

.column {
  float: left;
}

.column.left {
  width: 20%;
  padding: 15px;
}

.column.right {
  width: 80%;
  border-left: 4px double crimson;
  border-right: 4px double crimson;
}

.row {
  display: flex;
  flex-direction: row-reverse;
}
