:root {
  --contact-color: linear-gradient(to right, dodgerblue, black);
  --background-color: linear-gradient(to right, bisque, burlywood);
}

* {
  box-sizing: border-box;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: var(--contact-color);
}

.contact > h1 {
  font-size: 3rem;
  font-family: "Indie Flower", cursive;
  color: gainsboro;
  margin-top: 12px;
  margin-bottom: 1px;
}

.contact > h3 {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  font-family: "Rubik Vinyl", cursive;
  color: burlywood;
  margin: 1px;
}

.contact > p {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: crimson;
}

.contact > a {
  font-size: 2rem;
  font-family: "Indie Flower", cursive;
  text-decoration: none;
  color: gainsboro;
  margin-bottom: 12px;
}

.contact > a:hover {
  color: crimson;
}

hr {
  box-shadow: 0 2px 0 rgba(255, 0, 0, 0.4);
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: var(--background-color);
  font-size: 1rem;
  font-family: "Poppins", cursive;
  font-weight: 600;
}

.about-me a {
  text-decoration: none;
  color: black;
  margin-bottom: 12px;
}

.about-me a:hover {
  color: crimson;
}
